<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Добавление товара</title>
  <link rel="stylesheet" href="@{/style_add_product.css}"> </head>
<body>
<h1>Добавить новый товар</h1>
<form th:action="@{/products/add}" method="post" enctype="multipart/form-data"> <div class="form-group">
  <label for="name">Название товара:</label>
  <input type="text" id="name" name="name" placeholder="Введите название" required>
</div>
  <div class="form-group">
    <label for="shortDescription">Краткое описание:</label>
    <textarea id="shortDescription" name="shortDescription" rows="5" placeholder="Введите краткое описание"></textarea>
  </div>
  <div class="form-group">
    <label for="longDescription">Подробное описание:</label>
    <textarea id="longDescription" name="longDescription" rows="10" placeholder="Введите подробное описание"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" step="0.01" min="0" placeholder="Введите цену">
  </div>
  <div class="form-group">
    <label for="image">Изображение товара:</label>
    <input type="file" id="image" name="image" accept="image/*">
  </div>
  <button type="submit">Добавить товар</button>
</form>
</body>
</html>