.center_page {
    margin: 0px 0px 50px 0px;
}

.footer {
    margin: 0px;
    background-color: rgb(214, 211, 211);
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
}

.footer_menu {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.footer_text {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    padding: 0px;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

a {
    color: #333333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

ul {
    list-style: none;
}

h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 20px;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

ol {
    list-style: none;
    padding-left: 0;
}

ol li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: 32px;
}

ol li::before {
    content: '';
    background-image: url('prefabs/bullet-point.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: absolute;
    left: -32px;
    top: 2px;
    width: 16px;
    height: 16px;
}

.product-image {
    width: 400px;
    height: 400px;
    border: 5px solid #ff5733;
    object-fit: contain;
}

/* Для формы авторизации и регистрации */
.form-container {
    text-align: right;
    padding: 20px;
}

.form-container input {
    margin: 5px 0;
}

/* Переключатель между формами */
.tab-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.tab-buttons button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.tab-buttons button:hover {
    background-color: #f1f1f1;
}

.tab-buttons button:focus {
    outline: none;
}

.tab-buttons span {
    font-size: 16px;
    font-weight: normal;
}

/* Контейнеры для вкладок */
.tab-content {
    display: none;
}

.active {
    display: block;
}

/* Стиль для полей ввода */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-container input[type="submit"] {
    background-color: #ff8000;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.custom-nav table {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffa756;
    text-align: center;
    border-collapse: collapse;
}

.custom-nav td {
    padding: 10px 20px;
}

.custom-nav a {
    color: black;
    text-decoration: none; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-nav a:hover {
    background-color: #ff5e00;
    transform: scale(1.05); 
}

.custom-nav a:active {
    transform: scale(0.98);
}